.main {
  padding-left: 386px;
  padding-top: 116px;
  margin-top: 96px;
  width: 1979px;
  height: 868px;
  top: 1867px;
  left: -4px;
  background-color: rgba(54, 70, 217, 1);
  .foot_h6 {
    font-family: "Poppins";
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 12px;
  }
  .foot_h2 {
    max-width: 506px;
    font-family: "Poppins";
    font-size: 46px;
    font-weight: 700;
    line-height: 53px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 30px;
  }
  .foot_p {
    max-width: 478px;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 64px;
  }
  .foot_img {
    display: flex;
    align-items: center;
    gap: 19px;
    .img-p {
      font-family: "Poppins";
      font-size: 20px;
      font-weight: 700;
      line-height: 45px;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
  }
}
.arra {
  display: flex;
  width: 751px;
  height: 583px;
  bottom: 651px;
  left: 600px;
  z-index: 10;
  position: relative;
}
.rec25 {
  display: flex;
  height: 583px;
  top: 2010px;
  left: 790px;
  position: absolute;
}
.rec14 {
  display: flex;
  height: 583px;
  top: 1900px;
  left: 850px;
  position: absolute;
}
.rec24 {
  display: flex;
  height: 583px;
  top: 2010px;
  left: 1100px;
  position: absolute;
}
.rec19 {
  position: absolute;
  right: 1003px;
  top: 2769px;
}
.rec11 {
  position: absolute;
  right: 1333px;
  top: 2869px;
}
.person {
  position: relative;
  left: -90px;
  top: -450px;
}
.multi1 {
  position: absolute;
  left: 712px;
  top: 3018px;
  width: 121px;
  height: 148px;
  background-color: rgba(54, 70, 217, 1);
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  h3 {
    font-size: 34px;
    font-weight: 700;
    color: white;
  }
  h4 {
    font-size: 17px;
    font-weight: 700;
    color: white;
  }
}
.main__right {
  position: relative;
  top: -330px;
  margin-left: 46px;
  h5 {
    font-family: "Poppins";
    font-size: 19px;
    font-weight: 700;
    line-height: 23px;
    color: rgba(62, 168, 59, 1);
    margin-bottom: 28px;
  }
  h2 {
    font-family: "Poppins";
    font-size: 46px;
    font-weight: 700;
    line-height: 23px;
    color: rgba(54, 55, 57, 1);
    margin-bottom: 57px;
  }
}
.main_img {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 41px;
}
.main-p {
  text-align: start;
  max-width: 566px;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: rgba(54, 55, 57, 1);
}
.main__bottom {
  display: flex;
}
